
  <h2></h2>
<div class="container">
<div class ="row">
  <div class="col-sm-6">
          <div class="container" *ngFor="let quote of quotes">
  <blockquote class="quote-card ">
  
  <h4> 
    <a [title]="quote.name + 'quotes'" appHighlight>
    {{quote.name}}
    </a>
    </h4> 
    <p *ngIf="quote.description" appHighlight>
      Quote : {{quote.description}}
      </p> 
      <p>
        <a [title]="'Like'">
      <button (click)="likeClick()"class="like-button"[ngClass]="{'like':liked}">
        <span class="material-icons"> mood <span class="likes-counter">{{initialCount}}</span> </span>
      </button>
      </a>
        <a [title]="'Dislike'">
          <button (click)="dislikeClick()"class="dislike-button"[ngClass]="{'dislike':disliked}">
            <span class="material-icons">mood_bad <span class="dislikes-counter">{{initialCounts}}</span> </span>
          </button>
        </a>
        <a [title]="'Delete'">
          <button (click)="quoteDelete(true)">
            <span class="material-icons">delete_outline</span>
          </button>
        </a>
        <a [title]="'share'">
          <button (click)="share()">
            <span class="material-icons">share</span>
          </button>
        </a>
        </p>
        <p>Posted on {{today|date}}  {{today|date : 'h:mm a'}}</p>
  </blockquote>
          </div>

           
</div>
</div>
<div class="col-sm-6">
<div class="form-container">

<app-quote-form></app-quote-form>
</div>
</div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->